@media screen and (max-width: 1024px) {
    .header__box {
        max-width: 1024px;
        margin-left: 20%;
    }
    
    .header__box-img {
        display: none;
    }

    .header__btn {
        margin-left: 0;
        margin-right: 10px;
    }

    .header__link {
        margin-left: 38px;
    }

    .hero__img-yellow {
        left: 85%;
    }

    .hero__img-pink {
        left: 68%;
    }

    .hero__img-box {
        margin-left: 62%;
    }
    .hero__img-box-wom {
        margin-left: 77%;
    }

    .work__content {
        margin-left: 43%;
        
    }
    .people__header {
        margin-left: 35%;
    }

    .line__image {
        margin-left: 35%;
    }

    .browse__title {
        margin-left: 32%;
    }

    .browse__boxes {
        margin-left: 25%;

    }

    .browse__btn {
        margin-left: 60%;
    }

    .nft__content {
        margin-left: 30%;
    }

    .nft__title {
        margin-left: 2%;
    }

    .footer__icon {
        margin-right: 10px;
    }

    .footer__btn {
        font-size: 10px;
        width: 55px;
    }

    .footer__footer-txt {
        margin-right: 0;
    }

    
}
    
@media screen and (max-width: 820px) {
    .header__box {
        max-width: 1024px;
        margin-left: 25%;
        margin-right: 10px;
    }
    
    .header__box-img {
        display: none;
    }

    .header__btn {
        margin-left: 0;
    }

    .header__link {
        margin-left: 38px;
    }

    .hero__img-yellow {
        left: 100%;
    }

    .hero__img-pink {
        left: 79%;
    }

    .hero__img-box {
        margin-left: 72%;
    }
    .hero__img-box-wom {
        margin-left: 87%;
    }

    .work__content {
        margin-left: 65%;
        
    }
    .people__header {
        margin-left: 55%;

    }

    .people__title {
        font-size: 40px;
        margin-left: 35px;
    }

    .people__description {
        width: 400px;
    }

    .people__info {
        margin-left: 10%;
    }
    .line__image {
        margin-left: 62%;
        margin-top: 141px;
    }

    .browse__title {
        margin-left: 62%;
    }

    .browse__boxes {
        margin-left: 54%;

    }

    .browse__btn {
        margin-left: 72%;
    }

    .nft__content {
        margin-left: 60%;
    }

    .nft__title {
        margin-left: 2%;
    }

    .footer__icon {
        margin-right: 10px;
    }

    .footer__btn {
        font-size: 10px;
        width: 55px;
    }

    .footer__footer-txt {
        margin-right: 0;
    }

    
}


@media screen and (max-width: 390px) {
    .header__box {
        max-width: 1024px;
        margin-left: 35%;
        margin-right: 10px;
    }
    
    .header__box-img {
        display: none;
    }

    .header__btn {
        margin-left: 0;
    }

    .header__link {
        margin-left: 38px;
    }

    .hero__txt {
        margin-left: 20%;
    }

    .hero__title {
        font-size: 30px;
        line-height: 30px;
        width: 200px;
    }   

    .hero__extraordinary {
        font-size: 10px;
    }

    .hero__description {
        font-size: 15px;
        width: 350px;
    }


    .hero__img-yellow {
        left: 160%;
    }

    .hero__img-pink {
        left: 115%;
    }

    .hero__img-box {
        margin-left: 100%;
        
    }
    .hero__img-box-wom {
        margin-left: 140%;
    }

    .work__content {
        margin-left: 150%;
        
    }

    .work__header-txt {
        margin-left: 30px;
    } 

    .work__footer-txt {
        margin-right: 50px;
    }

    .work__header-img {
        display: none;
    }
    .people__header {
        margin-left: 65%;

    }

    .people__title {
        font-size: 40px;
        margin-left: 35px;
        width: 500px;
    }

    .people__description {
        width: 400px;
        margin-left: 60%;
    }

    .people__btn {
        font-size: 20px;
        width: 100px;
    }

    .people__buttons {
        display: flex;
        margin-left: 20px;
    }

    .people__info {
        margin-left: 110%;
    }
    .line__image {
        margin-left: 270%;
        margin-top: 141px;
    }

    .browse__title {
        margin-left: 62%;
        display: none;
    }

    .browse__boxes {
        margin-left: 54%;
        display: none;
    }

    .browse__btn {
        margin-left: 72%;
        display: none;
    }

    .nft__content {
        margin-left: 142%;
    }

    .nft__title {
        margin-left: 0%;
    }

    .footer__icon {
        margin-right: 10px;
    }

    .footer__btn {
        font-size: 10px;
        width: 55px;
    }

    .footer__footer-txt {
        margin-right: 0;
        display: none;
    }

    .footer__nav {
        margin-left: 100px;
    }
    
    .footer__content {
        margin-bottom: 50px;
    }

    .faq__description {
        width: 400px;
        font-size: 20px;
    }
}