.faq {
    &__title {
        @include faq("Outfit", 400, 64px, 64px, #2f2f2f);
        margin-top: 55px;
        margin-left: 22%;

    }

    &__description {
        @include faq("Outfit", 400, 22px, 24px, #2f2f2f);
        letter-spacing: 0.48px;
        margin-left: 22%;
        margin-top: 73px;
        transition: 0.3s;
        cursor: pointer;
    }

    &__description:hover {
        color: #2832c2;
    }

    &__content {
        display: flex;
        flex-direction: column;
        
    }
}